@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ysabeau+SC&display=swap');
*{
    margin :0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';

}

body{
    background-color: #222731;
    color: white;
}

.header{
    position: fixed;
    top:0;
    left :0;
    width :100%;
    padding: 25px 10%;
    background: transparent;
    display : flex;
    justify-content: space-between;
    z-index: 100;
    background-color: #222731;
}

.logo{
    color:white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    animation:   slideRight .7s ease forwards;
    animation-delay: .5s;

}
 
 .navbar a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    transition: .3s;
    opacity : 0;
    animation:  slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
 }

 .navbar a:hover ,.navbar a.active{
    color:rgb(105, 236, 248);
     
 }

 .Home{
    position: relative;
    width :100%;
    height: 100vh;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
 }
 .home-content {
    max-width: 600px;
 }
.home-content h2{
    font-size: 60 px;
    font-weight: 650;
    opacity : 0;
    animation:   slideBottom 1s ease forwards;
    animation-delay: .5s;
}
#myName{
    color:rgb(105, 236, 248);
}
.home-content h2 span{
    color:rgb(105, 236, 248);
}
.home-content h1{
    font-size:50px ;
    font-weight: 700;
    margin-bottom: 15px ;
    opacity : 0;
    animation:   slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h2{
    margin-bottom: 20px;
}

.home-content p{
    font-size: 16px;
    animation:   slideLeft 1s ease forwards;
    animation-delay: 0s;

}

.socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(105, 236, 248);
    border-radius: 50%;
    color:rgb(105, 236, 248);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;

}

 
.socials a:hover{
    color:  #222731;
    background: rgb(105, 236, 248);
    box-shadow: 0 0 20px rgb(105, 236, 248);
}
 .home-img img{
    max-width: 300px;
 }


 .btn{
    display: inline-block;
    padding: 10px 30px;
    background:rgb(105, 236, 248) ;
    border:none;
    border-radius: 35px;
    box-shadow: 0 0 8px rgb(105, 236, 248);
    font-size: 18px;
    color:#222731;
    font-weight: 600; 
 }

.About{
    
    justify-content: center;
    align-items: center;
    margin:80px  50px ;
    padding: 10px;
 }
.About h1 ,.projects h2 ,.contact h2{
    color:rgb(105, 236, 248);
     font-weight:900 ;
     font-size:50px;
     padding: 20px;
}
.About p{
    margin : 15px;
    font-size: 25px;
    font-weight: 300;
}


.About span{
    color:rgb(105, 236, 248);
     font-weight: bold;
     font-style: italic;
}

.projects h2{
    margin-bottom: 10px;

}
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
 .project-container .project-box{
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 2px rgb(105, 236, 248);
    overflow: hidden;
    display: flex;
 }
 .project-box img{
    width: 100%;
 }
 .project-box .project-layer{
    position : absolute;

 }
 .contact h2{
    margin-bottom: 30px;
 }
 .contact form {
    max-width: 700px;
    margin :10px auto;
    text-align: center;
    margin-bottom: 30px;
 }
 .contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .contact form .input-box input , 
 .contact form textarea{
    width: 100%;
    padding : 15px;
    font-size:15px;
    color: rgb(105, 236, 248);
    background-color:  #363e4e;
    border: none;
    border-radius: 10px;
    margin : 8px 0;
 }

 .contact form .input-box input{
    width : 49%;
 }

 .contact form textarea{
    resize: none;
 }

 .contact form .btn{
    width:100%;
    cursor: pointer;
    margin-top: 20px;

 }
 footer{
    background-color:  #2e384d;
  
 }
.footer{
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 2px 2px;
}
 
.footer ul{
     list-style-type: none;
}
 
.footer-one{
    padding:10px;
}  
.footer-three{
    padding: 10px;
}
.footer-three a{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: .5px solid white;
    margin: 3px
    
     
}

 
.footer .iconTop a{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    background: transparent;
    border: 2px solid rgb(105, 236, 248);
    border-radius: 50%;
    color:rgb(105, 236, 248);
    text-decoration: none;
}
footer .rights{
    text-align: center;
    color: gray;
    padding:10px;
}
 /* keyframes */

 @keyframes slideTop{
    0%{
        transform: translateY(100px) ;
        opacity:0;
    }
    100%{
        transform: translateY(0) ;
        opacity:1;
    }
    
 }
 @keyframes slideBottom {
    0%{
        transform: translateY(-100px) ;
        opacity:0;
    }
    100%{
        transform: translateY(0) ;
        opacity:1;
    }
    
 }
 @keyframes slideRight {
    0%{
        transform: translateX(-100px) ;
        opacity:0;
    }
    100%{
        transform: translateX(0) ;
        opacity:1;
    }
    
 }
 @keyframes slideLeft {
    0%{
        transform: translateX(100px) ;
        opacity:0;
    }
    100%{
        transform: translateX(0) ;
        opacity:1;
    }
    
 }


